.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0px 20px 1px 16px;
  }

  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .tick {
    position: absolute;
    top: 0;
    border: 1px solid #3333332e;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 3px;

  }

  .checkbox:hover input ~ .tick::before {
    opacity: 0.5;
  }
  
  .checkbox input:checked ~ .tick {
    background-color: #31b9e2;
  }
  .tick::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: #d0eff8;
    position: absolute;
    opacity: 0;
    left: -28%;
    top: -28%;
    border-radius: 3px;
    z-index: 1;
  }
  .tick:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox input:checked ~ .tick:after {
    display: block;
  }
  
  .checkbox .tick:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }