
  .tooltip{ 
    padding: 5px;           
    border-radius: 3px;
    opacity: 1;
    width:auto;
    height: 20px;
    border: 1px solid rgb(201, 138, 138);
    z-index: 1000;
    background-color: #fff;
    color: #000;
    position:absolute;
    margin-top: 2px;
    margin-left: 10px;
}

[data-toggle]::after {            
    width: 20px;
    height: 20px;
    content: "";
    background-color: aqua;
    border-radius: 50%;
    position: relative;
    opacity: 0;
    display: flex;

}
[data-toggle]:hover::after {
    opacity: 0.5;
}
[data-toggle].icon__size-5::after {
    top: -8px;
    right: 6px;
}

[data-toggle].icon__size-14::after {
    top: -5px;
    left: -3px;
    width: 24px !important;
    height: 24px !important;
}

[data-toggle].tooltip--th::after {
    position: absolute;
    width: 0 !important;
}

